.StockPriceCard{
    background: radial-gradient(circle at 10% 20%, rgb(90, 92, 106) 0%, rgb(32, 45, 58) 81.3%);
}
.app-linear-layout.app-linear-layout-direction-row.app-linear-layout-spacing-4>.app-linear-layout-item:last-child {
    width: 50%;
    margin-right: 0;
}