.loginForm{
    height: 100%;
	background-color: rgba(255, 255, 255, 0.06);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	padding: 50px 25px;
	-webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
	box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
	border: 1.5px solid rgba(255, 255, 255, 0.06);
	border-radius: 8px;
}