.classpath
.git/**
.idea/**
.lck
.log
.project
.settings
.svn/**
.tmp
*.bkp
*.iml
*_vk.hbm.xml
dataObjects.json
lib/project-external-dependency-jars/**
services/*/designtime/*_API.json
services/*/src/servicedefs/*-service-definitions.json
src/main/webapp/pages/*/page.min.html
src/main/webapp/pages/*/page.min.json
src/main/webapp/resources/i18n/*
src/main/webapp/types.js
src/main/webapp/WEB-INF/classes/**
src/main/webapp/WEB-INF/context.xml
!src/main/webapp/WEB-INF/data/*.log
src/main/webapp/WEB-INF/dbValidations.json
src/main/webapp/WEB-INF/lib/**
src/main/webapp/wmapp/**
src/main/webapp/wmmobile/**
target/**
src/main/webapp/WEB-INF/prefabs/*/build/**
generated-angular-app/**
inspection_results.json
src/main/webapp/WEB-INF/data/*.properties
.wm/**
generated-rn-app/**
src/main/webapp/rn-bundle/**